header {
    background-color: #333;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    color: white;
}

main {
  display: flex;
}

#projectSidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 25px;
  align-items: center;
}

#projectSidebar > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

.project-item__buttons {
  display: flex;
  gap: 10px;
}

.project-item__buttons > button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.project-item__edit {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.project-item__delete {
  background-color: #f44336;
  color: white;
  border: none;
} 